ALTER TABLE registros_acesso DROP CONSTRAINT IF EXISTS registros_acesso_veiculo_id_fkey; ALTER TABLE registros_acesso ADD CONSTRAINT registros_acesso_veiculo_id_fkey FOREIGN KEY (veiculo_id) REFERENCES vehicles_registry(id) ON DELETE CASCADE; ALTER TABLE vehicle_interactions DROP CONSTRAINT IF EXISTS vehicle_interactions_vehicle_id_fkey; ALTER TABLE vehicle_interactions ADD CONSTRAINT vehicle_interactions_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES vehicles_registry(id) ON DELETE CASCADE; CREATE POLICY "Delete vehicles" ON vehicles_registry FOR DELETE TO authenticated USING (true);
